<h1>All Tags</h1>
<%= render partial: "menu" %>
<% @tags.each do |tag| %>
  <p>
    <%= link_to tag.name, tag_path(tag) %>
    <%= link_to "delete", tag_path(tag), method: :delete, data: {confirm: "Really delete the tag?"} %>
  </p>
<% end %>
<p>
  <%= link_to "Articles", articles_path %>
</p>
