<h1> All Articles</h1>
<p>
  <%= render partial: "menu" %>
  <p>
    <ul id="articles">
      <% @articles.each do |article| %>
        <li>
          <%= link_to article.title, article_path(article) %>
        </li>
      <% end %>

    </ul>
  </p>
</p>


<%= link_to "Create a New Article", new_article_path, class: "new_article" %>
